footer
    div(class="footer")
        div(class="footer__logo")
            a(href="/")
                img(src="img/logo.png" alt="logo")
        p copyright 2022. myeongul_ All rights reserved.
        div(class="footer__menu")
            ul
                li
                    a(href="/") 홈
                li
                    a(href="/about") 정보

link(rel='stylesheet', href='css/footer.css')