extends layout

block content
    <!--블로그 새글 목록-->
    div( class="blogarea__title")
        h1 블로그 새글 목록
    div( id="blogarea")
        div( class="blogarea__naver")
            iframe( id="naverblog" src="https://blog.naver.com/PostList.nhn?blogId=myeongul_" width="49%" height="500px")
        div(class="blogarea__tistory")
            iframe( id="tistoryblog" src="https://myeongul.tistory.com/" width="49%" height="500px")
    link(rel='stylesheet', href='css/index.css')
    script(type="text/javascript").
        document.querySelector('#blogarea').style.height = 500 + 'px';
        window.onresize = function() {
            if (window.innerHeight > 800) {
                if(window.scrollbars){
                    document.querySelector('#blogarea').style.height = window.innerHeight - 300 + 'px';
                }
                else {
                    document.querySelector('#blogarea').style.height = window.innerHeight - 200 + 'px';
                }
            }
            else {
                document.querySelector('#blogarea').style.height = '500px';
            }
        }