doctype html
html(lang="ko")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='img/favicon.ico', type='image/x-icon')
  body
    div(class="app")
      include header
      block content
      include footer

